.popupContainer {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup {
  background-color: white;
  max-width: 500px;
  flex: 1;
  border-radius: 5px;
}
.popupHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}
.popupContent,
.popupBottom,
.popupHeading {
  padding: 15px;
}
.popupContent {
  display: flex;
  border: 2px solid #f6f6f6;

  flex-direction: column;
  gap: 20px;
}
.popupInputWrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.popupInputWrap label {
  font-size: 13px;
  color: #7d7f80;
  font-weight: 500;
}
.popupInputWrap input,
.popupInputWrap textarea {
  outline-color: #d0dcf4;
  outline-width: thicker;
  padding: 8px;
  border-radius: 5px;
  border: 2px solid #e1e1e1;
}

.popupInputWrap textarea:focus,
.popupInputWrap input:focus {
  outline-style: solid;
  outline-width: 3px;
}

.popupContent button {
  align-self: flex-start;
}
.popupContainer button {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}
.popupContainer button :disabled {
  cursor: not-allowed !important;
}
.popupBottom {
  display: flex;
  flex-direction: column;
}
.popupBottom button {
  align-self: flex-end;
  background-color: #7d7f80;
  /* color: #83b998; */
}

/* Chrome, Safari, Edge, Opera */
.popupInputNumber::-webkit-outer-spin-button,
.popupInputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
